 body {
            font-family: Arial, ;
            background-color: #f9f9f9;
            color: #333;
        }

        .top-right {
            position: absolute;
            top: 120px;
            right: 20px;
            
           
        }

        .section {
            margin: 20px 10px;
          
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px  rgba(0, 0, 0, 0.1);
        }

        
      