
.section {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #dacbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}




h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #222; 
}

h4 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #555;
}